@model Spice.Models.ViewModels.OrderDetailsVM
<style>
    @@media(min-width: 576px){ 
        .modal-dialog{
            max-width: 70%;
            margin: 1.75rem auto;
        }
    }
    
</style>

<form method="post">
    <div class="container row border ml-1 backgroundWhite" style="width: 100%">
        <div class="col-lg-8 col-12" style="border-right: 1px solid #bbb8b9">
            <br />
            <div class="form-group row">
                <div class="col-3">
                    <label>Name</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.PickupName" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Email</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.ApplicationUser.Email" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.ApplicationUser.PhoneNumber"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.ApplicationUser.PhoneNumber" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.OrderDate"></label>
                </div>
                <div class="col-9">
                    <input value="@Model.OrderHeader.PickupTime.ToShortDateString() @Model.OrderHeader.PickupTime.ToShortTimeString()" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.Comments"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Comments" disabled class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-12">
            <h4 class="d-flex justify-content-between align-content-center mb-3">
                <span class="text-muted">Order ID: </span>
                <span class="badge badge-secondary badge-pill">@Model.OrderHeader.Id</span>
            </h4>
            <ul class="list-group mb-3">
                @{ var total = 0.0; }
                @foreach (var details in Model.OrderDetails)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">@details.Name</h6>
                            <small class="text-muted">Quantity : @details.Count</small>
                            @{ total += details.Price * details.Count; }
                        </div>
                        <span class="text-success">@(details.Price * details.Count)</span>
                    </li>

                }
                @if (Model.OrderHeader.CouponCode != null)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 clasuhuh s="my-0">Promo Code</h6>
                            <small>@Model.OrderHeader.CouponCode</small>
                        </div>
                        <span class="text-success">@(Model.OrderHeader.OrderTotalOriginal - Model.OrderHeader.OrderTotal)</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <span class="text-info">Total (USD)</span>
                    <strong class="text-info">$@Model.OrderHeader.OrderTotal</strong>
                </li>
            </ul>
            <button type="button" disabled class="btn btn-info form-control">@Model.OrderHeader.Status</button>
        </div>
    </div>
</form>